.logo {
  @include font($fw: 700, $fs: 26px, $lh: 31px);
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Raleway', sans-serif;

  @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  @media screen and (max-width: 1199px) {
    @include font($fw: 700, $fs: 24px, $lh: 28px);
  }
}

.header__logo {
  color: $black-text-color;

  &--accent {
    color: $accent-color;
  }
}

.footer__logo {
  color: #ffffff;
}
