.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #ffffff;
  z-index: 999;

  transform: translateX(-200%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  fill: $primary-text-color;
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-menu-nav__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mobile-menu-nav__link {
  @include font($fw: 500, $fs: 40px, $lh: 47px, $ls: 0.02em);
  color: $primary-text-color;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.mobile-menu-contacts-wrap {
  position: absolute;
  bottom: 48px;
  left: 40px;
}

.mobile-menu-contacts {
  margin-bottom: 64px;
}

.mobile-menu-contacts__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mobile-menu-contacts__tel {
  @include font($fw: 500, $fs: 27px, $lh: 40px, $ls: 0.02em);
  color: $accent-color;

  @media screen and (min-width: 480px) {
    @include font($fw: 500, $fs: 34px, $lh: 40px, $ls: 0.02em);
  }
}

.mobile-menu-contacts__email {
  @include font($fw: 500, $fs: 18px, $lh: 28px, $ls: 0.02em);
  color: $secondary-text-color;

  @media screen and (min-width: 480px) {
    @include font($fw: 500, $fs: 24px, $lh: 40px, $ls: 0.02em);
  }
}

.mobile-menu-social {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}

.mobile-menu-social__item {
  padding: 0 10px;
  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.mobile-menu-social__link {
  @include font($fw: 500, $fs: 10px, $lh: 22px, $ls: 0.02em);
  color: $accent-color;

  @media screen and (min-width: 480px) {
    @include font($fw: 500, $fs: 18px, $lh: 22px, $ls: 0.02em);
  }
}
